@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.news {
  font-size: 50px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-family: TTLaundryGothicB;
}
.introBox {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  margin: 0 auto;
}
.intro {
  background-color: antiquewhite;
  width: 70%;
  height: 600px;
  box-shadow: 10px 10px 5px 0 #ccc;
}
.introContents {
  width: 20%;
  padding: 20px;
}

.contentsBox {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.box {
  width: 410px;
  height: 600px;
  border-radius: 50px;
  background: #f3f3f3;
  text-decoration: none;
  color: black;
  margin-top: 50px;
}
.box:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.title {
  height: 80px;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  font-family:BMJUA ;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
.contents {
  padding: 0 10px;
  height: 190px;
  font-family: NanumBarunGothic;
}

.hashtag {
  text-align: center;
  font-size: 18px;
  color: #666;
  height: 30px;
}
.img {
  width: 410px;
  height: 300px;
  border-radius: 0 0 50px 50px;
}
