body{
 background-color: blanchedalmond;
}
.main {
  display: flex;
  margin-left: 65px;
  width: 1300px;
  
}
.img {
  width: 650px;
  height: 500px;
}
.text {
  width: 650px;
  height: 500px;
  text-align: center;
  align-items: center;
  line-height: 30px;
  background-color:azure
}

