* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    width: 1400px;
    margin: auto;

}

/* =================네비바================= */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 70px;
    margin: 0 auto;
}

.hleft {
    font-size: 40px;
}

.hleft img {
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

.hright {
    display: flex;
}

.hright .hbox {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
}

.hright .hbox2 {
    display: inline-block;
    align-items: flex-end;
    height: 100%;
    padding-left: 20px;
}

.hright .hbox .hbt {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    color: black;
}

.hright .hbox .hbt:hover {
    color: green;
}

.header-box {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: green;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.hright .hbox:hover .header-box {
    opacity: 1;
    visibility: visible;
}

.hright .hbox .header-box a {
    display: inline-block;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.hlogin {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

.hmv {
    position: relative;
    width: 1400px;
    height: 1000px;
    /* margin-left: 50px; */
    z-index: 1;
}

.hmtext {
    width: calc(1400px/3);
    height: 600px;
    border-radius: 50px;
    background: white text-decoration none;
    color: black;
    margin-top: 50px;
}

.hcontents {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}

.hhimg {
    width: 410px;
    height: 565px;
    border-radius: 50px;
}

.himg {
    width: 410px;
    height: 400px;
    border-radius: 50px 50px 0 0;
    margin-left: 80px;
    /* ee */
}

.hsmain {
    width: 410px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(206, 252, 236);
    text-align: center;
    margin-left: 80px;
}

.hstext {
    width: 410px;
    height: 150px;
    background-color: rgb(206, 252, 236);
    border-radius: 0 0 50px 50px;
    text-align: center;
    margin-left: 80px;
}

main {
    width: 1400px;
    height: 100px;
    margin: 0 auto;
}

/* ======================== */
.mainDiv {
    width: 1400px;
    height: 600px;
    box-sizing: border-box;
    margin-top: 40px;
    position: relative;

}

.section {
    float: left;
}

/* INPUT 가리기 */
.section input[id*="slide"] {
    display: none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.section .slidewrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    float: left;
}

.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}

.section .slidelist>li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slidelist>li>a {
    display: block;
    position: relative;
    overflow: hidden;
}

.section .slidelist>li>a img {
    width: 100%;
    height: 500px
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.section .slidelist label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left {
    left: -300px;
    background: url('/hy_image/left.png') center center / 100% no-repeat;
}

.section .slidelist .right {
    right: -300px;
    background: url('/hy_image/right.png') center center / 100% no-repeat;
}

.section input[id="slide01"]:checked~.slidewrap .slidelist>li {
    transform: translateX(0%);
}

.section input[id="slide02"]:checked~.slidewrap .slidelist>li {
    transform: translateX(-100%);
}

.section input[id="slide03"]:checked~.slidewrap .slidelist>li {
    transform: translateX(-200%);
}

.section input[id="slide01"]:checked~.slidewrap li:nth-child(1) .left {
    left: 20px;
    transition: all .35s ease .5s;
}

.section input[id="slide01"]:checked~.slidewrap li:nth-child(1) .right {
    right: 30px;
    transition: all .35s ease .5s;
}

.section input[id="slide02"]:checked~.slidewrap li:nth-child(2) .left {
    left: 30px;
    transition: all .35s ease .5s;
}

.section input[id="slide02"]:checked~.slidewrap li:nth-child(2) .right {
    right: 30px;
    transition: all .35s ease .5s;
}

.section input[id="slide03"]:checked~.slidewrap li:nth-child(3) .left {
    left: 30px;
    transition: all .35s ease .5s;
}

.section input[id="slide03"]:checked~.slidewrap li:nth-child(3) .right {
    right: 30px;
    transition: all .35s ease .5s;
}

/* ============= */
.subtitle {
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 15px;
    position: relative;
    color: black;
}

.subtitle h1 {
    text-align: center;
    font-family: 'TTLaundryGothicB';

    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
}

.subtitle h1:after,
.subtitle h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid black;
}

.travleAreaClassify {
    display: flex;
    justify-content: center;

}


.travleAreaClassify ul>li {
    list-style: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: 120px;


}

.travleAreaClassify ul>li :hover {
    background-color: rgb(192, 207, 177);
}

.travleAreaClassify>ul>li a {
    text-decoration-line: none;
    color: black;

    font-family: 'TTLaundryGothicB';
    transition-duration: 0.5s;

}

.border-separator {
    border-right: 1px solid black;
}

/* ========= */
.mainContinerGrid {
    width: 100%;
    height: 650px;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    /* background-color: antiquewhite; */
    column-gap: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.mag1 {
    background-color: blueviolet;
    grid-column: 1/1;
    grid-row: 1/4;
    transform: scale(1.15);
    object-fit: cover;
}

.mag1>img {
    width: 100%;
    height: 100%;

   transition:opacyti 0.5s;
   transform: 1s;
}

.card1:hover .mag1>img {
    transform: scale(1);
    opacity: 0.5;
}


.mag2 {
    background-color: blue;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 10px;
}

.mag2>img {
    width: 100%;
    height: 100%;
}

.mag3 {
    margin-top: 10px;
    background-color: aquamarine;
    grid-column: 2/3;
    grid-row: 2/3;
}

.mag3>img {
    width: 100%;
    height: 100%;
}